/* Reset */
a {
    @apply cursor-pointer font-medium;
}

[x-cloak] { 
    display: none !important;
}

[disabled] {
    @apply cursor-not-allowed;
}

.sortable-ghost {
    @apply ring-1 ring-offset-2 ring-theme rounded;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 0.6cm;
    }
}

/* button */
button.is-loading,
.button.is-loading {
    @apply pointer-events-none opacity-60;
}

/* Forms related */
input:focus, 
select:focus, 
textarea:focus, 
input:active, 
select:active, 
textarea:active {
    outline: 0 !important;
    box-shadow: none;
    border: none;
}

.form-label {
    @apply flex items-center gap-2 font-medium leading-5 text-gray-400 uppercase text-sm;
}

.form-input {
    @apply appearance-none py-1.5 px-3 border border-gray-300 rounded-md leading-normal bg-white;
}
select.form-input,
.form-input.select {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray" aria-hidden="true"><path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd"></path></svg>');
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    padding-right: 2rem;
}

.form-input-caret {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray" aria-hidden="true"><path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd"></path></svg>');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}

.form-input:hover {
    @apply ring-2 ring-gray-200;
}

.form-input:focus,
.form-input:focus-within
.form-input:active,
.form-input.active {
    @apply outline-none ring-1 ring-theme;
}

.form-input.error,
.form-input-error {
    @apply border border-red-500 ring-2 ring-red-200;
}

input.transparent,
select.transparent {
    @apply bg-transparent appearance-none p-0 border-0 focus:ring-0 hover:ring-0;
}
.form-input.readonly {
    @apply bg-gray-100;
}

.form-input[disabled] {
    @apply bg-gray-100;
}

.field {
    @apply w-full;
}
.field:not(:last-child) {
    @apply mb-6;
}
.field > label {
    @apply  mb-2;
}

label.radio .radio-box {
    @apply hidden;
}
label.radio .radio-container {
    @apply border-gray-300;
}

label.radio.active .radio-box {
    @apply block;
}
label.radio.active .radio-container {
    @apply border-theme;
}

/* Flatpickr */
.flatpickr-calendar {
    @apply border-0 shadow-none;
}

/* tippy */
.tippy-content {
    @apply text-sm;
}

/* file uploader loader */
.uploader-loader {
	--color: gray;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}
.uploader-loader::before,
.uploader-loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}
.uploader-loader::before {
	height: var(--size-bar);
	width: 6vmin;
	background-color: var(--color);
	animation: uploader-loader 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes uploader-loader {
	0%, 44%, 88.1%, 100% {
		transform-origin: left;
	}
	
	0%, 100%, 88% {
		transform: scaleX(0);
	}
	
	44.1%, 88% {
		transform-origin: right;
	}
	
	33%, 44% {
		transform: scaleX(1);
	}
}
