/* variables */
:root {
    --2xs-size: 1.25rem;
    --xs-size: 1.5rem;
    --sm-size: 2rem;
    --md-size: 2.5rem;
    --lg-size: 3rem;
    --xl-size: 3.25rem;
    --2xl-size: 3.75rem;
}

/* Reset */
html {
    font-size: 14px;
    scroll-behavior: smooth;

    &:has(dialog[open]) {
        overflow: hidden;
    }
}

dialog::backdrop {
    @apply bg-black/20;
}

a {
    @apply cursor-pointer font-medium;
}

[x-cloak] { 
    display: none !important;
}

[disabled] {
    @apply cursor-not-allowed;
}

/* button */
.button-2xs.is-loading,
.button-xs.is-loading,
.button-sm.is-loading,
.button-md.is-loading,
.button-lg.is-loading,
.button-xl.is-loading,
.button-2xl.is-loading { 
    @apply pointer-events-none opacity-60;
}

.button-2xs { min-height: var(--2xs-size); @apply text-2xs px-2 }
.button-xs { min-height: var(--xs-size); @apply text-xs px-2 }
.button-sm { min-height: var(--sm-size); @apply text-sm px-3 }
.button-md { min-height: var(--md-size); @apply text-base px-3 }
.button-lg { min-height: var(--lg-size); @apply text-lg px-4 }
.button-xl { min-height: var(--xl-size); @apply text-xl px-5 }
.button-2xl { min-height: var(--2xl-size); @apply text-2xl px-5 }

.button-icon-2xs { width: var(--2xs-size); height: var(--2xs-size); @apply text-2xs }
.button-icon-xs { width: var(--xs-size); height: var(--xs-size); @apply text-xs }
.button-icon-sm { width: var(--sm-size); height: var(--sm-size); @apply text-sm }
.button-icon-md { width: var(--md-size); height: var(--md-size); @apply text-base }
.button-icon-lg { width: var(--lg-size); height: var(--lg-size); @apply text-lg }
.button-icon-xl { width: var(--xl-size); height: var(--xl-size); @apply text-xl }
.button-icon-2xl { width: var(--2xl-size); height: var(--2xl-size); @apply text-2xl }

.button-2xs.button-invisible { min-height: auto; @apply text-2xs }
.button-xs.button-invisible { min-height: auto; @apply text-xs }
.button-sm.button-invisible { min-height: auto; @apply text-sm }
.button-md.button-invisible { min-height: auto; @apply text-base }
.button-lg.button-invisible { min-height: auto; @apply text-lg }
.button-xl.button-invisible { min-height: auto; @apply text-xl }
.button-2xl.button-invisible { min-height: auto; @apply text-2xl }

.button-icon-2xs.button-invisible { width: auto; height: auto; @apply text-2xs }
.button-icon-xs.button-invisible { width: auto; height: auto; @apply text-xs }
.button-icon-sm.button-invisible { width: auto; height: auto; @apply text-sm }
.button-icon-md.button-invisible { width: auto; height: auto; @apply text-base }
.button-icon-lg.button-invisible { width: auto; height: auto; @apply text-lg }
.button-icon-xl.button-invisible { width: auto; height: auto; @apply text-xl }
.button-icon-2xl.button-invisible { width: auto; height: auto; @apply text-2xl }

/* input */
.input-2xs { min-height: var(--2xs-size); @apply text-2xs }
.input-xs { min-height: var(--xs-size); @apply text-xs }
.input-sm { min-height: var(--sm-size); @apply text-sm }
.input-md { min-height: var(--md-size); @apply text-base }
.input-lg { min-height: var(--lg-size); @apply text-lg }
.input-xl { min-height: var(--xl-size); @apply text-xl }
.input-2xl { min-height: var(--2xl-size); @apply text-2xl }

/* box */
.box.is-loading {
    @apply opacity-60 pointer-events-none;
}

/* file dropzone */
.file-dropzone {
    min-height: 200px;
}

/* Forms related */
input:focus, 
select:focus, 
textarea:focus, 
input:active, 
select:active, 
textarea:active {
    outline: 0 !important;
    box-shadow: none;
    border: none;
}

input.no-spinner {
    -moz-appearance: textfield;
}
input.no-spinner::-webkit-outer-spin-button,
input.no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* .form-label {
    @apply flex items-center gap-2 font-medium leading-5 text-gray-400 uppercase text-sm;
}

.form-input {
    @apply appearance-none py-1.5 px-3 border border-gray-300 rounded-md leading-normal bg-white;
}
select.form-input,
.form-input.select,
.select-caret {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray" aria-hidden="true"><path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd"></path></svg>');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

.form-input:hover {
    @apply ring-2 ring-gray-200;
}

.form-input:focus,
.form-input:focus-within
.form-input:active,
.form-input.active {
    @apply outline-none ring-1 ring-theme;
}

.form-input.error,
.form-input-error {
    @apply border border-red-500 ring-2 ring-red-200;
}

input.transparent,
select.transparent {
    @apply bg-transparent appearance-none p-0 border-0 focus:ring-0 hover:ring-0;
}
.form-input.readonly {
    @apply bg-gray-100;
}

.form-input[disabled] {
    @apply bg-gray-100;
} */

.field {
    @apply w-full;
}
.field:not(:last-child) {
    @apply mb-6;
}
.field > label {
    @apply  mb-2;
}

/* file uploader loader */
.uploader-loader {
	--color: gray;
	--size-mid: 6vmin;
	--size-dot: 1.5vmin;
	--size-bar: 0.4vmin;
	--size-square: 3vmin;
	
	display: block;
	position: relative;
	width: 50%;
	display: grid;
	place-items: center;
}
.uploader-loader::before,
.uploader-loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
}
.uploader-loader::before {
	height: var(--size-bar);
	width: 6vmin;
	background-color: var(--color);
	animation: uploader-loader 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes uploader-loader {
	0%, 44%, 88.1%, 100% {
		transform-origin: left;
	}
	
	0%, 100%, 88% {
		transform: scaleX(0);
	}
	
	44.1%, 88% {
		transform-origin: right;
	}
	
	33%, 44% {
		transform: scaleX(1);
	}
}
