.editor {
    @apply relative bg-white border border-gray-300 rounded-md hover:ring-1 hover:ring-gray-200;

    .editor-buttons {
        @apply sticky top-0 z-1 p-1.5 bg-white rounded-lg;

        .editor-buttons-container {
            @apply p-[2px] bg-gray-100 shadow-sm rounded-lg flex items-center flex-wrap;

            .editor-button {
                @apply p-2 cursor-pointer rounded-md border border-transparent hover:bg-white hover:border-gray-200 flex items-center justify-center;
            }
        }
    }

    .editor-menu-button {
        @apply p-2 rounded-md flex items-center justify-center cursor-pointer hover:bg-gray-100;
    }

    .editor-container {
        p.is-editor-empty:first-child::before {
            color: #adb5bd;
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
        }

        img.ProseMirror-selectednode,
        [data-youtube-video].ProseMirror-selectednode {
            @apply ring-4 ring-blue-400 ring-offset-1;
        }
    
        [data-youtube-video] iframe {
            @apply pointer-events-none;
        }

        .editor-content,
        .editor-chat-content {
            @apply m-3;

            &:focus {
                @apply outline-none;
            }
        }
    }

    .tippy-box[data-theme~='editor-menu'] {
        @apply bg-white text-black rounded-lg shadow-lg border border-gray-300 text-base;
    }
    .tippy-box[data-theme~='editor-menu'] .tippy-content {
        @apply p-0 text-base;
    }
}

.editor-transparent {
    @apply bg-transparent border-none hover:ring-0;

    .editor-buttons {
        @apply p-0 !important;
    }

    .editor-content,
    .editor-chat-content {
        @apply mx-0 !important;
    }
}

.editor-content {
    p:not(.is-editor-empty) {
        @apply mb-4;
    }
    a {
        @apply text-sky-500 underline decoration-dashed break-all;
    }
    h1 {
        @apply text-3xl font-bold mb-2;
    }
    h2 {
        @apply text-2xl font-bold mb-2;
    }
    h3 {
        @apply text-lg font-semibold mb-2;
    }
    h4 {
        @apply text-base font-semibold mb-2;
    }
    blockquote {
        @apply text-gray-500 italic p-2;
    }
    ul {
        @apply list-disc list-outside px-4;
    }
    ol {
        @apply list-decimal list-outside px-4;
    }
    hr {
        @apply border-t border-gray-400 my-4;
    }
    img {
        @apply block max-w-full h-auto my-4;
    }

    .mention {
        @apply bg-sky-100 text-sky-800 font-medium rounded-md text-sm cursor-default;
        padding: 2px 4px;
    }

    .table-wrapper, .tableWrapper {
        @apply py-1 overflow-x-auto flex justify-center;

        table {
            @apply border-collapse table-fixed m-0 overflow-hidden;

            td, th {
                @apply border border-gray-300 py-1.5 px-3 align-top relative;
                > * { @apply mb-0; }
            }

            th {
                @apply font-semibold text-left bg-slate-100;
            }

            .selectedCell:after {
                @apply absolute z-[2] inset-0 bg-slate-300 opacity-50 pointer-events-none content-[""];
            }
        
            .column-resize-handle {
                @apply absolute right-0 top-0 bottom-0 w-1 bg-blue-400 pointer-events-none;
            }
        
            p {
                @apply m-0;
            }
        }
    }

    [data-youtube-video] {
        @apply flex justify-center my-4;
    }
    [data-youtube-video] iframe {
        @apply max-w-full;
    }
}

.editor-content.editor-chat-content {
    p {
        @apply m-0;
    }
}
