input:focus, 
select:focus, 
textarea:focus, 
input:active, 
select:active, 
textarea:active {
    outline: 0 !important;
    box-shadow: none;
    border: none;
}

.form-label {
    @apply flex items-center gap-2 font-medium leading-5 text-gray-400 uppercase text-sm;
}

.form-input {
    @apply appearance-none py-1.5 px-3 border border-gray-300 rounded-md leading-normal bg-white;
}
select.form-input,
.form-input.select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMjI0IDQxNmMtOC4xODggMC0xNi4zOC0zLjEyNS0yMi42Mi05LjM3NWwtMTkyLTE5MmMtMTIuNS0xMi41LTEyLjUtMzIuNzUgMC00NS4yNXMzMi43NS0xMi41IDQ1LjI1IDBMMjI0IDMzOC44bDE2OS40LTE2OS40YzEyLjUtMTIuNSAzMi43NS0xMi41IDQ1LjI1IDBzMTIuNSAzMi43NSAwIDQ1LjI1bC0xOTIgMTkyQzI0MC40IDQxMi45IDIzMi4yIDQxNiAyMjQgNDE2eiIvPjwvc3ZnPgo=);
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    padding-right: 3rem;
}

.form-input-caret {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMjI0IDQxNmMtOC4xODggMC0xNi4zOC0zLjEyNS0yMi42Mi05LjM3NWwtMTkyLTE5MmMtMTIuNS0xMi41LTEyLjUtMzIuNzUgMC00NS4yNXMzMi43NS0xMi41IDQ1LjI1IDBMMjI0IDMzOC44bDE2OS40LTE2OS40YzEyLjUtMTIuNSAzMi43NS0xMi41IDQ1LjI1IDBzMTIuNSAzMi43NSAwIDQ1LjI1bC0xOTIgMTkyQzI0MC40IDQxMi45IDIzMi4yIDQxNiAyMjQgNDE2eiIvPjwvc3ZnPgo=);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}

.form-input:hover {
    @apply ring-2 ring-gray-200;
}

.form-input:focus,
.form-input:active,
.form-input.active {
    @apply outline-none ring-2 ring-theme;
}

.form-input.error,
.form-input-error {
    @apply border border-red-500 ring-2 ring-red-200;
}

.form-input.transparent {
    @apply bg-transparent appearance-none p-0 border-0 focus:ring-0 hover:ring-0;
}
.form-input.readonly {
    @apply bg-gray-100;
}

.form-input[disabled] {
    @apply bg-gray-100;
}

.field {
    @apply w-full;
}
.field:not(:last-child) {
    @apply mb-6;
}
.field > label {
    @apply  mb-2;
}

label.radio .radio-box {
    @apply hidden;
}
label.radio .radio-container {
    @apply border-gray-300;
}

label.radio.active .radio-box {
    @apply block;
}
label.radio.active .radio-container {
    @apply border-theme;
}

.ck.ck-balloon-panel {
    z-index: 10 !important;
}
