@import url('https://fonts.googleapis.com/css2?family=Inter:wght@1100;200;300;400;500;600;700;800;900&display=swap');

@page {
    margin: 0.5cm;
}

* {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 10pt;
}

.label {
    color: gray;
}
