a {
    @apply cursor-pointer font-medium;
}

[x-cloak] { 
    display: none !important;
}

[disabled] {
    @apply cursor-not-allowed;
}

.sortable-ghost {
    @apply ring-1 ring-offset-2 ring-theme rounded;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 0.6cm;
    }
}
