label {
    @apply font-bold;
}

a {
    @apply cursor-pointer font-medium text-blue-700;
}

[x-cloak] { 
    display: none !important;
}

[disabled] {
    @apply cursor-not-allowed;
}

.ck-content {
    @apply prose max-w-none;
}
.ck-widget.html-object-embed {
    @apply w-full;
}

.sortable-ghost {
    @apply ring ring-offset-2 ring-theme ring-offset-theme-light;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 0.6cm;
    }
}
