label {
    @apply font-bold;
}

a {
    @apply cursor-pointer font-medium text-blue-700;
}

label {
    @apply block font-medium leading-5 text-gray-400 uppercase;
    font-size: 12px;
}

[x-cloak] { 
    display: none !important;
}

[disabled] {
    @apply cursor-not-allowed;
}

.sortable-ghost {
    @apply ring-1 ring-offset-2 ring-theme rounded;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        margin: 0.6cm;
    }
}
