.slick-dots {
    font-size: 0;
    line-height: 0;
    text-align: center;
    @apply absolute bottom-2 left-0 right-0 flex items-center justify-center gap-2;

    li {
        width: 10px;
        height: 10px;
        @apply cursor-pointer bg-gray-500/50 rounded-full;
    }

    li.slick-active {
        width: 20px;
        @apply bg-theme;
    }
}